In [93]:
# Import libraries
import numpy as np
import pandas as pd

import os

#from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import TruncatedSVD
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import Lasso, Ridge

import string

import datetime

import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [92]:
# Constants goes here
NMONTHS = 24
pd.set_option('max_columns', 200)

In [3]:
# Import data
DATA_FOLDER = '../Data/'

transactions    = pd.read_csv(os.path.join(DATA_FOLDER, 'sales_train.csv.gz'))
items           = pd.read_csv(os.path.join(DATA_FOLDER, 'items.csv'))
item_categories = pd.read_csv(os.path.join(DATA_FOLDER, 'item_categories.csv'))
shops           = pd.read_csv(os.path.join(DATA_FOLDER, 'shops.csv'))
test            = pd.read_csv(os.path.join(DATA_FOLDER, 'test.csv.gz'))

In [4]:
# For decrease memory consumption
def downcast_dtypes(df):
    '''
    Changes column types in the dataframe: 

            `float64` type to `float32`
            `int64`   type to `int32`
    '''
    
    # Select columns to downcast
    float_cols = [c for c in df if df[c].dtype == "float64"]
    int_cols =   [c for c in df if df[c].dtype == "int64"]
    
    # Downcast
    df[float_cols] = df[float_cols].astype(np.float32)
    df[int_cols]   = df[int_cols].astype(np.int32)
    
    return df

In [5]:
transactions = downcast_dtypes(transactions)
items = downcast_dtypes(items)
item_categories = downcast_dtypes(item_categories)
shops = downcast_dtypes(shops)
test = downcast_dtypes(test)

In [7]:
items.head()

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [8]:
# New function to construct base dataframes for train, validation and test
def construct_base_train_val_test(months=NMONTHS):
    """
    months - number of last months to construct base train/test matrix dataset
    This function construct grouped by months sales information for train, validation and test
    """
    # Group transactions by month, shop and item (add price mean here)
    grp_trans = transactions.groupby(['date_block_num', 'shop_id', 'item_id'], as_index=False).agg({'item_cnt_day': 'sum'})
    
    # Split dataset by months
    lst_grp_trans = []
    max_month = grp_trans.date_block_num.max() + 1
    for month in range(max_month-months-2, max_month): # Get only last year data
        month_df = grp_trans[grp_trans.date_block_num == month]
        # Rename target column and price column
        month_df.rename(index=str, columns={"item_cnt_day": "item_cnt_day_" + str(month)}, inplace=True) 
        lst_grp_trans.append(month_df)
        
        
    # Join data with test dataset
    all_data = test[['shop_id', 'item_id']].set_index(['shop_id', 'item_id'])
    for month in range(max_month-months-2, max_month): # [8..34)
        all_data = all_data.join(lst_grp_trans[month+months-max_month+2][['shop_id', 'item_id', 'item_cnt_day_'+str(month)]
                                                                        ].set_index(['shop_id', 'item_id']))
        
    #print(all_data.head())
    
    # Replace NaNs by 0
    all_data.fillna(0, inplace=True)
    
    # Get train target and validation target column
    val_target = all_data.item_cnt_day_33
    train_target = all_data.item_cnt_day_32
    
    # Calculate x_train, x_val, x_test
    x_train = all_data.copy()
    x_train.drop(['item_cnt_day_32', 'item_cnt_day_33'], axis=1, inplace=True)
    
    x_val = all_data.copy()
    first_col = str(max_month-months-2)
    x_val.drop(['item_cnt_day_' + first_col, 'item_cnt_day_33',], 
               axis=1, inplace=True)
    
    x_test = all_data.copy()
    second_col = str(max_month-months-1)
    x_test.drop(['item_cnt_day_' + first_col, 'item_cnt_day_' + second_col], axis=1, inplace=True)
    
    return x_train, x_val, x_test, train_target, val_target

In [81]:
%%time
tr_train, tr_val, tr_test, tr_target, val_target = construct_base_train_val_test()
print(tr_train.shape, tr_val.shape, tr_test.shape)

(214200, 24) (214200, 24) (214200, 24)
Wall time: 7.94 s

In [37]:
# TF-IDF transformation to the item names
tfidf = TfidfVectorizer()
item_name_matrix = tfidf.fit_transform(items.item_name)
item_name_matrix.shape

(22170, 18222)

In [48]:
%%time
tsvd = TruncatedSVD(n_components=300, random_state=26)
tsvd_item_matrix = tsvd.fit_transform(item_name_matrix)

Wall time: 10.3 s

In [51]:
# Join with the items dataframe
items = items.join(pd.DataFrame(tsvd_item_matrix, index=items.index))
items.head()

,item_name,item_id,item_category_id,0,1,2,3,4,5,6,...,290,291,292,293,294,295,296,297,298,299
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40,0.000641,0.000150,6.665875e-04,-0.000096,0.000303,-0.000537,-0.000260,...,0.002997,0.001726,0.002455,-0.001184,-0.000464,0.001044,-0.002293,-0.000827,0.002190,-0.000760
1,!ABBYY FineReader 12 Professional Edition Full...,1,76,0.298384,-0.011510,-4.987161e-02,-0.098047,-0.003741,0.030858,0.004195,...,-0.024040,0.011326,-0.013554,-0.029464,0.004807,-0.002612,0.029757,0.008931,0.010555,-0.036053
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40,0.000003,0.000004,-6.139519e-07,-0.000007,0.000005,0.000001,-0.000002,...,-0.000881,-0.001112,0.000067,0.000391,-0.000413,0.001365,0.000524,0.000173,-0.000476,-0.000823
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40,0.000141,0.000577,9.436656e-04,-0.000011,0.000652,0.000343,0.000444,...,0.001935,0.002332,-0.002535,-0.000144,-0.002340,0.000407,-0.000345,0.001080,-0.003409,0.001682
4,***КОРОБКА (СТЕКЛО) D,4,40,0.001315,0.000337,1.050196e-03,0.000004,0.000017,0.000594,0.001523,...,0.003927,0.009936,-0.015988,0.012645,-0.002523,0.001052,0.007305,0.000453,0.005982,0.003222

In [52]:
# Add means of item_cnt_day
def add_means(train, val, test, months=NMONTHS):
    """
    train - base train dataframe
    val - base validation dataframe (train, shifted by 1 month further)
    test - base test dataframe (val, shifted by 1 month further)
    This function add sliding means by last n column values (last n months)
    """
    # Define filters for price and item count features separation
    train_filter_item_cnt_col = [col for col in train if col.startswith('item_cnt_day')]
    val_filter_item_cnt_col = [col for col in val if col.startswith('item_cnt_day')]
    test_filter_item_cnt_col = [col for col in test if col.startswith('item_cnt_day')]
    
    # Get 6 separate dataframes
    train_item_cnt_df = train[train_filter_item_cnt_col]
    val_item_cnt_df = val[val_filter_item_cnt_col]
    test_item_cnt_df = test[test_filter_item_cnt_col]
    
    # Add features to train
    np_train_count = np.array(train_item_cnt_df)
    
    for i in range(1, months+1):
        train['mean_cnt_' + str(i)] = pd.Series(np_train_count[:, -i:].mean(axis=1), index=train.index)
        
    # Add features to validation
    np_val_count = np.array(val_item_cnt_df)
    
    for i in range(1, months+1):
        val['mean_cnt_' + str(i)] = pd.Series(np_val_count[:, -i:].mean(axis=1), index=train.index)
        
    # Add features to test
    np_test_count = np.array(test_item_cnt_df)
    
    for i in range(1, months+1):
        test['mean_cnt_' + str(i)] = pd.Series(np_test_count[:, -i:].mean(axis=1), index=test.index)
        
    return train, val, test

In [82]:
%%time
tr_train, tr_val, tr_test = add_means(tr_train, tr_val, tr_test)
print(tr_train.shape, tr_val.shape, tr_test.shape)

(214200, 48) (214200, 48) (214200, 48)
Wall time: 256 ms

In [60]:
# Add some mean encoded features
def get_month_mean_encodings(train, val, test):
    """
    train - base train dataframe
    val - base validation dataframe (train, shifted by 1 month further)
    test - base test dataframe (val, shifted by 1 month further)
    Function calculate cumsum divided by cumcount for current shop and current item saled quantities,
    also it makes the same transformations for current month price
    We aggregate info by months
    """
    # Drop indexes
    train.reset_index(inplace=True)
    val.reset_index(inplace=True)
    test.reset_index(inplace=True)
    
    # Get dataframes with sold item quantities, grouped by shop and item
    
    # Define item count column filters
    train_filter_cnt_col = [col for col in train if col.startswith('item_cnt_day')]
    val_filter_cnt_col = [col for col in val if col.startswith('item_cnt_day')]
    test_filter_cnt_col = [col for col in test if col.startswith('item_cnt_day')]
    
    # Aggregate train by shop and item
    train_shop_agg_cnt_df = train.groupby(['shop_id'])[train_filter_cnt_col].agg(['sum'])
    train_item_agg_cnt_df = train.groupby(['item_id'])[train_filter_cnt_col].agg(['sum'])
    
    # Aggregate validation set by shop and item
    val_shop_agg_cnt_df = val.groupby(['shop_id'])[val_filter_cnt_col].agg(['sum'])
    val_item_agg_cnt_df = val.groupby(['item_id'])[val_filter_cnt_col].agg(['sum'])
    
    # Aggregate test set by shop and item
    test_shop_agg_cnt_df = test.groupby(['shop_id'])[test_filter_cnt_col].agg(['sum'])
    test_item_agg_cnt_df = test.groupby(['item_id'])[test_filter_cnt_col].agg(['sum'])
    

    # Now we get train cumulative sum of this features on rows
    train_shop_agg_cnt_df = train_shop_agg_cnt_df.cumsum(axis=1)
    train_item_agg_cnt_df = train_item_agg_cnt_df.cumsum(axis=1)
    
    # Get validation cumulative sum of this features on rows
    val_shop_agg_cnt_df = val_shop_agg_cnt_df.cumsum(axis=1)
    val_item_agg_cnt_df = val_item_agg_cnt_df.cumsum(axis=1)

    # Get test cumulative sum of this features on rows
    test_shop_agg_cnt_df = test_shop_agg_cnt_df.cumsum(axis=1)
    test_item_agg_cnt_df = test_item_agg_cnt_df.cumsum(axis=1)

    # Calculate arithmetic progression (1, 2, 3, 4, ...) with months length
    np_to_divide = np.array(train_item_agg_cnt_df.columns.labels[0] + 1, dtype=float)
    
    # Divide train cumulative sum by column number (np.cumcount emulation)
    train_shop_agg_cnt_df = train_shop_agg_cnt_df / np_to_divide
    train_item_agg_cnt_df = train_item_agg_cnt_df / np_to_divide
    
    # Divide validation cumulative sum by column number (np.cumcount emulation)
    val_shop_agg_cnt_df = val_shop_agg_cnt_df / np_to_divide
    val_item_agg_cnt_df = val_item_agg_cnt_df / np_to_divide
    
    # Divide test cumulative sum by column number (np.cumcount emulation)
    test_shop_agg_cnt_df = test_shop_agg_cnt_df / np_to_divide
    test_item_agg_cnt_df = test_item_agg_cnt_df / np_to_divide
    
    
    # Move index to columns of train daraframes
    train_shop_agg_cnt_df.reset_index(inplace=True)
    train_item_agg_cnt_df.reset_index(inplace=True)
    
    # Move index to columns of validation daraframes
    val_shop_agg_cnt_df.reset_index(inplace=True)
    val_item_agg_cnt_df.reset_index(inplace=True)
    
    # Move index to columns of test daraframes
    test_shop_agg_cnt_df.reset_index(inplace=True)
    test_item_agg_cnt_df.reset_index(inplace=True)

    
    # Join all train mean encoding features with initial data
    train_ext = pd.merge(train, train_shop_agg_cnt_df, how='left', left_on='shop_id', right_on='shop_id')
    train_ext = pd.merge(train_ext, train_item_agg_cnt_df, how='left', left_on='item_id', right_on='item_id')

    # Join all validation mean encoding features with initial data
    val_ext = pd.merge(val, val_shop_agg_cnt_df, how='left', left_on='shop_id', right_on='shop_id')
    val_ext = pd.merge(val_ext, val_item_agg_cnt_df, how='left', left_on='item_id', right_on='item_id')
                       
    # Join all test mean encoding features with initial data
    test_ext = pd.merge(test, test_shop_agg_cnt_df, how='left', left_on='shop_id', right_on='shop_id')
    test_ext = pd.merge(test_ext, test_item_agg_cnt_df, how='left', left_on='item_id', right_on='item_id')

    return train_ext, val_ext, test_ext

In [83]:
%%time
tr_train, tr_val, tr_test = get_month_mean_encodings(tr_train, tr_val, tr_test)

# Drop duplicate column
tr_train.drop(['item_id_x'], axis=1, inplace=True)
tr_val.drop(['item_id_x'], axis=1, inplace=True)
tr_test.drop(['item_id_x'], axis=1, inplace=True)

print(tr_train.shape, tr_val.shape, tr_test.shape)

(214200, 98) (214200, 98) (214200, 98)
Wall time: 2.42 s

In [70]:
tr_train.head()

,item_id,shop_id,item_cnt_day_8_x,item_cnt_day_9_x,item_cnt_day_10_x,item_cnt_day_11_x,item_cnt_day_12_x,item_cnt_day_13_x,item_cnt_day_14_x,item_cnt_day_15_x,...,"(item_cnt_day_22_y, sum)","(item_cnt_day_23_y, sum)","(item_cnt_day_24_y, sum)","(item_cnt_day_25_y, sum)","(item_cnt_day_26_y, sum)","(item_cnt_day_27_y, sum)","(item_cnt_day_28_y, sum)","(item_cnt_day_29_y, sum)","(item_cnt_day_30_y, sum)","(item_cnt_day_31_y, sum)"
0,5037,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,19.133333,30.4375,33.529412,33.444444,33.157895,32.75,35.095238,37.818182,38.478261,41.750000
1,5320,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000
2,5233,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0000,0.000000,0.000000,0.000000,0.40,3.571429,8.318182,9.434783,15.250000
3,5232,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,2.666667
4,5268,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000

In [84]:
# Add tf-idf item name features
tr_train = tr_train.join(items, how='left', on='item_id', rsuffix='_itm')
tr_val = tr_val.join(items, how='left', on='item_id', rsuffix='_itm')
tr_test = tr_test.join(items, how='left', on='item_id', rsuffix='_itm')

# Drop useless columns
tr_train.drop(['item_name', 'item_id_itm'], axis=1, inplace=True)
tr_val.drop(['item_name', 'item_id_itm'], axis=1, inplace=True)
tr_test.drop(['item_name', 'item_id_itm'], axis=1, inplace=True)

print(tr_train.shape, tr_val.shape, tr_test.shape)

(214200, 399) (214200, 399) (214200, 399)

In [88]:
tr_train.iloc[:, -305:].head()

,"(item_cnt_day_28_y, sum)","(item_cnt_day_29_y, sum)","(item_cnt_day_30_y, sum)","(item_cnt_day_31_y, sum)",item_category_id,0,1,2,3,4,...,290,291,292,293,294,295,296,297,298,299
0,35.095238,37.818182,38.478261,41.750000,19,0.079082,0.002221,0.020591,0.190210,0.019453,...,0.017789,-0.018557,0.000573,0.023761,0.032483,0.004814,-0.028143,0.054562,-0.055948,0.010696
1,0.000000,0.000000,0.000000,0.000000,55,0.035927,0.001655,0.005497,0.055388,0.003611,...,-0.008180,0.012084,0.007222,-0.014114,0.008591,-0.013691,0.015844,-0.005519,0.006485,-0.006548
2,3.571429,8.318182,9.434783,15.250000,19,0.238340,-0.005698,-0.035638,0.227311,0.021017,...,0.000413,0.012644,-0.028473,-0.030405,-0.007984,0.018558,-0.002854,-0.001155,0.014952,-0.011517
3,0.000000,0.000000,0.000000,2.666667,23,0.247804,-0.006887,-0.041150,0.322485,0.031554,...,0.012888,0.012114,-0.005169,-0.017907,-0.002717,0.014629,0.001293,-0.013155,-0.006749,-0.023866
4,0.000000,0.000000,0.000000,0.000000,20,0.248577,-0.007308,-0.034032,0.181913,0.016260,...,-0.002899,-0.002566,-0.000134,-0.004104,-0.020138,0.003054,0.007063,0.003258,0.008193,-0.004893

In [89]:
# Extract city column from shops dataframe
shop_name_split = [el.split(' ') for el in shops.shop_name.values]
shops['city'] = pd.Series([el[0] for el in shop_name_split], index=shops.index)
shops.head(10)

                        shop_name  shop_id      city
0   !Якутск Орджоникидзе, 56 фран        0   !Якутск
1   !Якутск ТЦ "Центральный" фран        1   !Якутск
2                Адыгея ТЦ "Мега"        2    Адыгея
3  Балашиха ТРК "Октябрь-Киномир"        3  Балашиха
4        Волжский ТЦ "Волга Молл"        4  Волжский
5          Вологда ТРЦ "Мармелад"        5   Вологда
6      Воронеж (Плехановская, 13)        6   Воронеж
7          Воронеж ТРЦ "Максимир"        7   Воронеж
8    Воронеж ТРЦ Сити-Парк "Град"        8   Воронеж
9               Выездная Торговля        9  Выездная

In [90]:
# Add city feature
tr_train = pd.merge(tr_train, shops, how='left', left_on='shop_id', right_on='shop_id')
tr_val = pd.merge(tr_val, shops, how='left', left_on='shop_id', right_on='shop_id')
tr_test = pd.merge(tr_test, shops, how='left', left_on='shop_id', right_on='shop_id')
print(tr_train.shape, tr_val.shape, tr_test.shape)

# Drop unnecessary shop_name column
tr_train.drop(['shop_name'], axis=1, inplace=True)
tr_val.drop(['shop_name'], axis=1, inplace=True)
tr_test.drop(['shop_name'], axis=1, inplace=True)
print(tr_train.shape, tr_val.shape, tr_test.shape)

(214200, 401) (214200, 401) (214200, 401)
(214200, 400) (214200, 400) (214200, 400)

In [91]:
# Factorize city name
tr_train['city'] = tr_train['city'].factorize()[0]
tr_val['city'] = tr_val['city'].factorize()[0]
tr_test['city'] = tr_test['city'].factorize()[0]

In [ ]:
# Prepare and scale data
np_train = np.array(tr_train)
np_val = np.array(tr_val)
np_test = np.array(tr_test)

tr_target_clip = np.clip(np.array(tr_target), 0, 20)
val_target_clip = np.clip(np.array(val_target), 0, 20)

In [97]:
tr_train.describe()

,item_id,shop_id,item_cnt_day_8_x,item_cnt_day_9_x,item_cnt_day_10_x,item_cnt_day_11_x,item_cnt_day_12_x,item_cnt_day_13_x,item_cnt_day_14_x,item_cnt_day_15_x,item_cnt_day_16_x,item_cnt_day_17_x,item_cnt_day_18_x,item_cnt_day_19_x,item_cnt_day_20_x,item_cnt_day_21_x,item_cnt_day_22_x,item_cnt_day_23_x,item_cnt_day_24_x,item_cnt_day_25_x,item_cnt_day_26_x,item_cnt_day_27_x,item_cnt_day_28_x,item_cnt_day_29_x,item_cnt_day_30_x,item_cnt_day_31_x,mean_cnt_1,mean_cnt_2,mean_cnt_3,mean_cnt_4,mean_cnt_5,mean_cnt_6,mean_cnt_7,mean_cnt_8,mean_cnt_9,mean_cnt_10,mean_cnt_11,mean_cnt_12,mean_cnt_13,mean_cnt_14,mean_cnt_15,mean_cnt_16,mean_cnt_17,mean_cnt_18,mean_cnt_19,mean_cnt_20,mean_cnt_21,mean_cnt_22,mean_cnt_23,mean_cnt_24,"('item_cnt_day_8', 'sum')_x","('item_cnt_day_9', 'sum')_x","('item_cnt_day_10', 'sum')_x","('item_cnt_day_11', 'sum')_x","('item_cnt_day_12', 'sum')_x","('item_cnt_day_13', 'sum')_x","('item_cnt_day_14', 'sum')_x","('item_cnt_day_15', 'sum')_x","('item_cnt_day_16', 'sum')_x","('item_cnt_day_17', 'sum')_x","('item_cnt_day_18', 'sum')_x","('item_cnt_day_19', 'sum')_x","('item_cnt_day_20', 'sum')_x","('item_cnt_day_21', 'sum')_x","('item_cnt_day_22', 'sum')_x","('item_cnt_day_23', 'sum')_x","('item_cnt_day_24', 'sum')_x","('item_cnt_day_25', 'sum')_x","('item_cnt_day_26', 'sum')_x","('item_cnt_day_27', 'sum')_x","('item_cnt_day_28', 'sum')_x","('item_cnt_day_29', 'sum')_x","('item_cnt_day_30', 'sum')_x","('item_cnt_day_31', 'sum')_x","(item_cnt_day_8_y, sum)","(item_cnt_day_9_y, sum)","(item_cnt_day_10_y, sum)","(item_cnt_day_11_y, sum)","(item_cnt_day_12_y, sum)","(item_cnt_day_13_y, sum)","(item_cnt_day_14_y, sum)","(item_cnt_day_15_y, sum)","(item_cnt_day_16_y, sum)","(item_cnt_day_17_y, sum)","(item_cnt_day_18_y, sum)","(item_cnt_day_19_y, sum)","(item_cnt_day_20_y, sum)","(item_cnt_day_21_y, sum)","(item_cnt_day_22_y, sum)","(item_cnt_day_23_y, sum)","(item_cnt_day_24_y, sum)","(item_cnt_day_25_y, sum)","(item_cnt_day_26_y, sum)","(item_cnt_day_27_y, sum)","(item_cnt_day_28_y, sum)","(item_cnt_day_29_y, sum)","(item_cnt_day_30_y, sum)","(item_cnt_day_31_y, sum)",item_category_id,0,...,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,city
count,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,2.142000e+05,...,214200.000000,2.142000e+05,214200.000000,214200.000000,214200.000000,2.142000e+05,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,2.142000e+05,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,2.142000e+05,2.142000e+05,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,2.142000e+05,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000,214200.000000
mean,11019.398627,31.642857,0.205892,0.185588,0.207502,0.318478,0.195868,0.200019,0.229104,0.172759,0.199748,0.208492,0.206004,0.247241,0.225037,0.248922,0.323800,0.485752,0.315481,0.254888,0.256083,0.275196,0.263193,0.241839,0.244188,0.278137,0.278137,0.261162,0.254689,0.256839,0.260433,0.259802,0.259140,0.266126,0.290444,0.293914,0.289793,0.284345,0.281523,0.276130,0.271522,0.267125,0.261462,0.259688,0.256525,0.253644,0.256649,0.254498,0.251423,0.249572,1050.047619,998.273810,1018.269841,1169.761905,1135.595238,1116.345238,1123.785714,1093.446429,1085.142857,1082.959524,1080.019481,1095.095238,1099.141026,1111.309524,1147.314286,1230.440476,1252.705882,1255.329365,1257.997494,1265.272619,1268.939909,1267.323593,1266.368530,1272.707341,8.647451,8.221078,8.385752,9.633333,9.351961,9.193431,9.254706,9.004853,8.936471,8.918490,8.894278,9.018431,9.051750,9.151961,9.448471,10.133039,10.316401,10.338007,10.359979,10.419892,10.450093,10.436783,10.428917,10.481119,46.309608,6.236285e-02,...,-0.000433,2.025018e-04,0.000579,-0.000519,0.000354,1.137522e-03,-0.000400,0.000638,-0.000296,0.000099,-0.000498,0.000570,-5.332400e-07,0.001072,-0.000414,-0.000497,-0.000645,-0.000773,0.000589,0.000087,0.000210,-0.000118,0.000108,-0.000472,-0.000089,-0.000104,0.000140,0.000624,0.000345,-0.000352,-0.000091,0.000379,1.004188e-04,9.679207e-04,-0.000284,0.001135,0.000637,-0.000462,0.000633,-0.000354,0.000377,0.000393,1.543692e-05,0.000775,0.000714,0.000306,0.000170,0.000327,0.000400,0.000300,0.000022,0.000230,0.000922,-0.000466,-0.000167,-0.000429,0.000173,0.000351,-0.000240,-0.000554,-0.000590,-0.000771,-0.000166,0.000463,0.000793,-0.000200,0.000870,-0.000268,-0.000044,-0.000181,0.000344,0.000180,0.000019,0.000041,0.000725,0.001146,-0.000588,0.000386,-0.000083,-0.000502,0.000395,0.000509,0.000303,0.000386,-0.000657,-0.000303,0.000309,0.000311,-0.000407,-0.000503,-0.000488,-0.000548,-0.000021,-0.000256,-0.000309,0.000403,-0.000587,-0.000329,0.000981,13.500000
std,6252.644590,17.561933,4.710657,3.827024,4.099517,5.561073,3.108006,3.122812,3.477254,2.460417,2.758149,3.115632,2.651091,2.826971,2.993169,3.034121,4.221527,5.549481,4.070988,1.879012,1.723200,4.113914,3.823170,2.283569,2.143467,2.147027,2.147027,2.063035,2.080431,2.317985,2.443393,2.168737,2.038548,2.162386,2.480726,2.590768,2.595588,2.598966,2.584397,2.560132,2.567850,2.545215,2.515104,2.527154,2.528320,2.536433,2.649615,2.694200,2.718541,2.739775,899.429429,852.426538,857.836455,984.704801,950.788303,925.262775,916.064998,891.567213,871.834461,864.509609,850.890516,853.982917,851.764962,859.666682,880.701088,945.684313,961.949792,961.649375,961.487686,967.958582,969.521966,969.649352,967.423888,966.464098,130.142507,113.768245,106.646256,115.974689,108.778267,102.926802,100.353812,95.648386,92.304090,91.011616,88.972803,87.723030,86.813164,86.018761,85.974175,89.338130,89.645979,86.963551,83.968638,82.663727,81.183580,79.687425,78.259739,77.151816,16.716581,1.021335e-01,...,0.023399,2.475058e-02,0.025391,0.021847,0.023678,2.668916e-02,0.023995,0.023916,0.024642,0.025800,0.026045,0.024861,2.707694e-02,0.026585,0.025510,0.026715,0.029230,0.025436,0.026431,0.025138,0.026523,0.027360,0.024691,0.024410,0.024375,0.024072,0.023679,0.024406,0.023410,0.024996,0.023965,0.024527,2.317989e-02,2.437925e-02,0.023694,0.024877,0.023616,0.023959,0.024051,0.022763,0.023612,0.021335,2.286943e-02,0.023395,0.023517,0.023737,0.022938,0.022805,0.023405,0.022050,0.023302,0.021293,0.022836,0.021917,0.022744,0.022090,0.021741,0.024066,0.021320,0.021209,0.022381,0.022201,0.022707,0.023262,0.021113,0.022651,0.021544,0.021487,0.021401,0.021496,0.021403,0.022000,0.020043,0.020552,0.020115,0.021342,0.021674,0.020928,0.020487,0.021258,0.020411,0.019709,0.020827,0.020435,0.021597,0.019656,0.020526,0.020309,0.021559,0.021248,0.020052,0.019850,0.020572,0.020864,0.020630,0.020328,0.020089,0.020778,0.019843,8.071869
min,30.000000,2.000000,-1.000000,-1.000000,-4.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-2.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-0.500000,-0.333333,-0.250000,-0.200000,-0.166667,-0.142857,-0.125000,0.000000,-0.100000,-0.090909,-0.083333,-0.076923,-0.071429,-0.066667,-0.062500,-0.058824,-0.055556,-0.052632,-0.050000,-0.047619,-0.045455,-0.043478,-0.041667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,-0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.912114e-13,...,-0.151166,-2.259298e-01,-0.198891,-0.109358,-0.166328,-1.339165e-01,-0.193576,-0.178294,-0.218585,-0.171839,-0.175737,-0.185253,-1.367344e-01,-0.199883,-0.173865,-0.204081,-0.282942,-0.311162,-0.226912,-0.124054,-0.179668,-0.193629,-0.230475,-0.125686,-0.162213,-0.151037,-0.166174,-0.248841,-0.145789,-0.201838,-0.189639,-0.243747,-1.382621e-01,-2.163302e-01,-0.150489,-0.218287,-0.185389,-0.121048,-0.124696,-0.138747,-0.101852,-0.219216,-2.036059e-01,-0.123685,-0.151706,-0.162868,-0.174707,-0.173819,-0.160265,-0.193415,-0.148153,-0.207287,-0.122848,-0.155467,-0.128418,-0.163295,-0.143632,-0.152918,-0.100355,-0.143594,-0.136906,-0.152658,-0.118139,-0.133957,-0.115834,-0.162425,-0.177609,-0.119063,-0.158678,-0.172283,-0.125846,-0.208189,-0.119077,-0.163840,-0.114122,-0.153090,-0.128322,-0.179219,-0.145240,-0.176913,-0.172372,-0.101945,-0.143441,-0.105860,-0.127946,-0.125965,-0.122633,-0.117150,-0.179413,-0.135299,-0.130113,-0.120286,-0.157650,-0.115394,-0.120750,-0.120835,-0.125967,-0.131226,-0.101761,0.000000
25%,5381.500000,16.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,469.000000,546.000000,602.000000,672.500000,653.200000,642.500000,656.285714,641.875000,645.555556,654.400000,660.727273,661.083333,670.769231,679.357143,714.066667,766.312500,775.705882,776.055556,775.894737,786.500000,789.904762,786.636364,794.347826,811.708333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.045455,0.173913,0.291667,37.000000,2.513749e-03,...,-0.008177,-7.173575e-03,-0.006889,-0.007924,-0.007493,-8.448326e-03,-0.008130,-0.008701,-0.008528,-0.007606,-0.008441,-0.008493,-7.760615e-03,-0.007242,-0.007805,-0.009611,-0.007953,-0.008507,-0.007283,-0.008561,-0.007257,-0.009038,-0.007099,-0.009023,-0.008558,-0.008032,-0.007954,-0.007850,-0.007846,-0.010094,-0.008950,-0.007259,-8.708923e-03,-8.676386e-03,-0.008956,-0.008014,-0.008881,-0.010573,-0.008747,-0.009418,-0.009486,-0.007752,-8.349135e-03,-0.008630,-0.007961,-0.008961,-0.009487,-0.007971,-0.008606,-0.007300,-0.009301,-0.007626,-0.008687,-0.007269,-0.009432,-0.008717,-0.007898,-0.007929,-0.008654,-0.009034,-0.009930,-0.008603,-0.008477,-0.008935,-0.007583,-0.008394,-0.007180,-0.009626,-0.009334,-0.008201,-0.008975,-0.008122,-0.008666,-0.007718,-0.007706,-0.007669,-0.008757,-0.007231,-0.007744,-0.008878,-0.007332,-0.007527,-0.008123,-0.008735,-0.009043,-0.008280,-0.007645,-0.008477,-0.008735,-0.008956,-0.008432,-0.009160,-0.008503,-0.008462,-0.008457,-0.007471,-0.008146,-0.008556,-0.007458,7.000000
50%,11203.000000,34.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,897.500000,876.750000,912.500000,1066.500000,1018.900000,994.500000,988.500000,970.000000,974.333333,985.500000,991.590909,991.500000,996.153846,1004.214286,1028.033333,1071.781250,1068.235294,1068.111111,1074.842105,1089.500000,1094.833333,1091.090909,1082.152174,1086.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.214286,0.466667,0.875000,1.058824,1.222222,1.473684,1.750000,1.952381,2.181818,2.391304,2.583333,43.000000,9.277606e-03,...,0.000212,-2.118034e-07,0.000400,-0.000521,-0.000243,-1.728316e-07,-0.000772,-0.000752,-0.000536,-0.000536,0.000320,0.000228,-5.785649e-04,-0.000052,-0.001328,-0.000990,0.000821,-0.000460,-0.000082,0.000373,0.000182,0.000510,0.000024,0.000187,0.000352,-0.000169,0.000348,-0.000252,0.000420,-0.000636,-0.000394,0.000129,6.520761e-07,1.243876e-07,0.000077,0.000464,-0.000100,-0.001503,-0.000298,0.000114,-0.000757,0.000066,-6.396389e-07,-0.000014,0.000200,-0.000165,-0.000623,-0.000002,0.000062,-0.000042,0.000131,0.000015,-0.000524,0.000922,-0.000066,0.000960,0.000606,0.001335,-0.000039,-0.000551,-0.000822,-0.000301,0.000506,-0.000858,-0.000056,0.000044,0.000085,-0.000572,-0.000202,0.000326,-0.000094,0.000626,-0.000026,-0.000503,-0.000302,-0.000012,0.000544,0.000001,-0.000191,-0.000429,0.000213,0.000001,0.000001,-0.000422,0.000104,-0.000445,-0.000447,-0.000056,0.000344,-0.000002,0.000084,-0.000345,-0.000495,-0.000149,-0.000033,0.000356,-0.000062,0.000105,-0.000265,13.500000
75%,16071.500000,47.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.200000,0.166667,0.142857,0.125000,0.222222,0.200000,0.181818,0.166667,0.153846,0.214286,0.200000,0.187500,0.176471,0.166667,0.157895,0.150000,0.142857,0.181818,0.173913,0.166667,1253.000000,1158.000000,1149.666667,1318.500000,1298.800000,1262.166667,1283.428571,1218.750000,1188.111111,1169.400000,1156.272727,1171.500000,1164.769231,1161.071429,1194.133333,1274.625000,1313.000000,1308.555556,1300.157895,1295.100000,1289.619048,1283.136364,1279.739130,1289.250000,0.000000,1.000000,1.333333,2.250000,2.400000,2.666667,3.000000,3.375000,3.666667,4.100000,4.363636,4.833333,5.153846,5.642857,6.200000,7.125000,7.485294,7.680556,8.000000,8.262500,8.428571,8.556818,8.695652,8.885417,58.000000,6.024861e-02,...,0.007843,8.527042e-03,0.008145,0.007056,0.007657,8.665218e-03,0.008115,0.008600,0.007333,0.007021,0.009738,0.008419,6.608394e-03,0.007998,0.006572,0.007282,0.008768,0.006983,0.007573,0.008624,0.009200,0.008451,0.008440,0.007935,0.009183,0.007944,0.007853,0.008166,0.009320,0.008280,0.008430,0.007997,9.425097e-03,9.526388e-03,0.007691,0.010030,0.008016,0.006988,0.008572,0.008523,0.009765,0.008294,8.373956e-03,0.010157,0.008986,0.008538,0.008285,0.007642,0.008262,0.007958,0.007686,0.007252,0.008781,0.008245,0.008740,0.008948,0.008429,0.011465,0.008108,0.007145,0.007431,0.007777,0.009518,0.008530,0.009212,0.008869,0.009216,0.008297,0.008139,0.008695,0.008831,0.008179,0.007858,0.007567,0.008100,0.009035,0.008499,0.008465,0.007209,0.007610,0.008502,0.009059,0.008678,0.007989,0.008300,0.006992,0.007600,0.009533,0.008032,0.008013,0.007925,0.008190,0.008024,0.007541,0.009062,0.008527,0.007501,0.008346,0.009126,21.000000
max,22167.000000,59.000000,950.000000,978.000000,989.000000,1305.000000,899.000000,941.000000,776.000000,597.000000,602.000000,771.000000,563.000000,591.000000,639.000000,634.000000,772.000000,1209.000000,1000.000000,257.000000,174.000000,813.000000,742.000000,444.000000,482.000000,436.000000,436.000000,459.000000,450.666656,453.000000,458.600006,382.166656,353.285706,402.000000,491.666656,519.700012,530.090881,539.166687,543.153870,542.071411,547.599976,551.000000,553.705872,566.055542,585.789490,601.450012,634.952393,651.045471,665.260864,677.125000,4596.000000,4474.500000,4542.666667,5188.000000,5039.600000,4940.500000,4923.285714,4828.000000,4737.888889,4677.800000,4596.363636,4617.416667,4641.846154,4694.142857,4828.200000,5182.375000,5258.705882,5256.277778,5248.263158,5278.750000,5273.000000,5264.590909,5253.913043,5248.041667,6233.000000,6216.000000,6413.000000,7354.500000,6984.400000,6655.166667,6561.000000,6290.875000,6098.888889,6046.400000,5928.818182,5857.166667,5817.692308,5782.857143,5789.133333,6035.187500,6063.823529,5876.444444,5664.473684,5572.800000,5472.571429,5372.727273,5278.695652,5205.958333,83.000000,5.194656e-01,...,0.165263,2.346242e-01,0.230493,0.275734,0.192262,2.153724e-01,0.151485,0.252471,0.183477,0.208657,0.236225,0.206049,3.670191e-01,0.324765,0.400890,0.350212,0.290633,0.327314,0.261503,0.194905,0.241418,0.203209,0.242898,0.248898,0.206767,0.204080,0.216066,0.249006,0.186868,0.206267,0.303410,0.336939,1.828709e-01,2.799688e-01,0.244238,0.256670,0.175199,0.211757,0.201330,0.169726,0.173755,0.173015,2.111876e-01,0.149826,0.166086,0.226978,0.178143,0.212368,0.126469,0.214786,0.196210,0.126093,0.237609,0.131128,0.178428,0.192587,0.208148,0.155626,0.195051,0.234973,0.158408,0.176200,0.170930,0.252043,0.181846,0.329837,0.228660,0.146926,0.160406,0.164493,0.161022,0.213860,0.195949,0.165300,0.181864,0.206984,0.117036,0.129561,0.156964,0.153350,0.152944,0.193638,0.144381,0.211967,0.149766,0.187924,0.147007,0.106150,0.169828,0.202824,0.112587,0.117921,0.200056,0.166945,0.111669,0.215543,0.133241,0.133338,0.147305,27.000000

In [ ]:
# To logarithm: item_id, ('item_cnt_day_8', 'sum')_x - ('item_cnt_day_31', 'sum')_x,
# (item_cnt_day_8_y, sum) - (item_cnt_day_31_y, sum), city